doctype html
html(lang="en")
    head
        title PUG Login page
    body 
        h1 Login 
        h2 Welcome to pug login page
        form(action="")
            input(type="text" placeholder="hello ji")