doctype html
html(lang="en")
    head
        title Register page
    body 
        h1 Register Employee 
        form(action="", method="post") 
            input(type="text" placeholder="Name" name="name")
            br
            br
            input(type="email" placeholder="Enter Email" name="email")
            br
            br
            input(type="text" placeholder="Enter Mobile" name="mobile")
            br
            br
            input(type="password" placeholder="Enter password" name="password")
            br
            br
            input(type="submit" value="Register")
            br
            br